<div class="text-center">
  <form [formGroup]="registerForm" (ngSubmit)="login(registerForm.value)">
    <clr-input-container>
      <input
        class="form-control"
        formControlName="email"
        input="text"
      >
    </clr-input-container>

    <clr-input-container>

    </clr-input-container>
    <input
    class="form-control"
    formControlName="birthdate"
    type="date"
    >
    <input
      class="form-control"
      formControlName="password"
      type="password"
    >
    <button type="submit" class="Normal">Login</button>
  </form>
</div>
